/* ========================== */
/* Root Variables & Colors */
/* ========================== */
:root {
  --main-color: #4AA35A;
  --second-color: #3A3A3D;
  --third-color: #494949;
  --fourth-color: #F7F7F7;
  --darker-green: rgba(0, 146, 71, 1);
}

/* ========================== */
/* Global Typography & Colors */
/* ========================== */
.text-success {
  color: var(--darker-green) !important;
}

.title h3 {
  color: #494949;
}

.links .text-register {
  color: #3A3A3D;
}

.links .text-forget {
  color: var(--main-color);
}

/* ========================== */
/* Buttons */
/* ========================== */
.btn-success {
  background-color: var(--darker-green) !important;
}

form .btn-success {
  background-color: var(--main-color) !important;
}

/* ========================== */
/* Forms & Inputs */
/* ========================== */
form .input-group,
form .form-control,
form .input-group-text {
  background-color: #F7F7F7;
  border: none;
  border-radius: 8px;
}

/* ========================== */
/* Authentication Page */
/* ========================== */
.auth-container {
  background-image: url(../src/assets/images/bg-image.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-overlay {
  background: linear-gradient(45deg, rgba(47, 140, 96, 0.6), rgba(0, 0, 0, 0.6));
}

/* ========================== */
/* Sidebar Styles */
/* ========================== */
.sidebar-icons {
  background-color: rgba(31, 38, 62, 1) !important;
  min-height: 100dvh;
  border-top-right-radius: 2.5rem;
}

.sidebar-container .ps-sidebar-container {
  background-color: rgba(31, 38, 62, 1) !important;
  min-height: 100dvh;
  border-top-right-radius: 2.5rem;
}

.sidebar-container .sidebar-logo {
  padding: 20px 3px 0;
  margin-bottom: 3rem;
}

.sidebar-container .sidebar-logo a:hover {
  background-color: transparent !important;
  border: none;
}

.sidebar-container .log-out-btn {
  margin-top: 3rem;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: rgba(0, 146, 71, 1) solid 3px;
}
.sidebar-container .active {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: rgba(0, 146, 71, 1) solid 3px;
}

.sidebar-container .ps-sidebar-root {
  border: none;
}

/* ========================== */
/* Header */
/* ========================== */
.header-container {
  background-color: rgba(0, 146, 71, 1);
  background-image: url(../src/assets/images/bg-circls.jpg);
  background-blend-mode: screen;
}

/* ========================== */
/* Icons */
/* ========================== */
.icon::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ========================== */
/* Tables */
/* ========================== */
.table {
  vertical-align: middle !important;
}

/* ========================== */
/* 404 Not Found Page */
/* ========================== */
.bg-notFound {
  background-image: url(../src/assets/images/404-Notfound2.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-blend-mode: multiply  ;
}

/* ========================== */
/* Modals */
/* ========================== */
.modal-header {
  border-bottom: none !important;
}


nav ul.pagination{
  --bs-pagination-active-bg:var(--main-color);
  --bs-pagination-active-border-color:var(--main-color);
  --bs-pagination-color:var(--main-color);
  --bs-pagination-hover-color:var(--main-color);
  --bs-pagination-hover-bg:var(--main-color);
}
